header.header
  .header__inner
    .header__container.container.container--full 
      a.header__logo(href="/index.html") 
        img(src="img/logo.png" alt="")
      nav.header__nav
        ul.header__list 
          li
            a.link(href="/index.html") Главная
          li.active
            a.link(href="/portfolio.html") Портфолио
          li
            a.link(href="/service.html") Услуги
          li
            a.link(href="/about.html") Обо мне
          li
            a.link(href="/contacts.html") Контакты
      .btn.btn--w199.js-btn-call Связаться со мной
      button(class="burger js-btn-menu" aria-label="Main Menu")
        svg(width="42" height="42" viewBox="0 0 100 100")
            path(class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058")
            path(class="line line2" d="M 20,50 H 80")
            path(class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942")
  
