.stack {
    margin-top: 32px;

    @media(max-width: 1024px) {
        margin-top: 38px;
    }

    @media(max-width: 900px) {
        margin-top: 20px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        @media(max-width: 620px) {
            max-width: 61px;    
        }

        &:not(:last-child) {
            margin-right: 74px;

            @media(max-width: 1024px) {
                margin-right: 57px;
            }

            @media(max-width: 900px) {
               margin-right: 25px;
            }
        }
    }
}