extends common/layout

block content
    main.main
        .portfolio
            .portfolio__container.container
                .portfolio__title.title-1 Портфолио
                .portfolio__quote В рамках спецификации современных стандартов, явные признаки победы институционализации могут быть указаны как претенденты на&nbsp;роль ключевых факторов.
                .portfolio__cover
                    .portfolio__items
                        .portfolio__item.portfolio__item--jc
                            .portfolio__pic 
                                img(src="img/portfolio/img1.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Кинотеатр Jazz Cinema
                                .portfolio__txt Элементы политического процесса, вне зависимости от&nbsp;их уровня, должны быть объявлены нарушающими
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')
                        .portfolio__item.portfolio__item--mf
                            .portfolio__pic 
                                img(src="img/portfolio/img2.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Морской Фонд
                                .portfolio__txt Мобильное приложение "Морской Фонд" позволяет иметь&nbsp;доступ к своему личному кабинету с телефона
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')
                        .portfolio__item.portfolio__item--kd
                            .portfolio__pic 
                                img(src="img/portfolio/img3.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Километры добра
                                .portfolio__txt Благотворительный проект, созданныйс с целью развития&nbsp;физической культуры и спорта
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')
                        .portfolio__item.portfolio__item--sc
                            .portfolio__pic 
                                img(src="img/portfolio/img4.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Schoolmaster
                                .portfolio__txt Личный кабинет ученика" - это удобный способ быть&nbsp;в&nbsp;курсе&nbsp;событий вашей школы
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')
                        .portfolio__item.portfolio__item--mgtu
                            .portfolio__pic 
                                img(src="img/portfolio/img5.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Мой МГТУ им. Г. И. Носова
                                .portfolio__txt Мобильное приложение для абитуриентов технического&nbsp;университета им. Г.И. Носова
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')
                        .portfolio__item.portfolio__item--ab
                            .portfolio__pic 
                                img(src="img/portfolio/img6.jpg" alt="")
                            .portfolio__content
                                .portfolio__article Абитуриент МГТУ им. Г.И. Носова
                                .portfolio__txt Официальное мобильное приложение для абитуриентов технического университета им. Г.И. Носова
                                a.link.link--detail(href="project.html")
                                    .link__txt Подробнее
                                    .link__ic
                                        +icon('ic-link-arrow')